E:\1WOEK\sf32\sifi_mp3_player-master\Code\mp3_sd_player\project\build_sf32lb52-lchspi-ulp_hcpu\lcpu\Kconfig
E:\OpenSiFli\sifli-sdk\Kconfig.v2
E:\OpenSiFli\sifli-sdk\customer\boards\Kconfig.v2
E:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_drv
E:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_lcd
E:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_lcd_fpga
E:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_soc
E:\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp\Kconfig.board
E:\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp\lcpu\Kconfig.board
E:\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp_base\Kconfig.board
E:\OpenSiFli\sifli-sdk\customer\peripherals\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\audio\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\bluetooth\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\buzzer\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\charger\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\encoder\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\gps\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\motor\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\pa\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\pmic_controller\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\rgb\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\sensor\Kconfig
E:\OpenSiFli\sifli-sdk\customer\peripherals\vibrator\Kconfig
E:\OpenSiFli\sifli-sdk\example\ble\lcpu_general\project\common\Kconfig.proj
E:\OpenSiFli\sifli-sdk\external\CMSIS\Kconfig
E:\OpenSiFli\sifli-sdk\external\CmBacktrace-v1.3.0\Kconfig
E:\OpenSiFli\sifli-sdk\external\FlashDB\Kconfig
E:\OpenSiFli\sifli-sdk\external\Kconfig
E:\OpenSiFli\sifli-sdk\external\SEGGER_SystemView-master\Kconfig
E:\OpenSiFli\sifli-sdk\external\WebRTC_audio_processing\Kconfig
E:\OpenSiFli\sifli-sdk\external\cJSON-1.7.17\Kconfig
E:\OpenSiFli\sifli-sdk\external\coremark\Kconfig
E:\OpenSiFli\sifli-sdk\external\easytlv\Kconfig
E:\OpenSiFli\sifli-sdk\external\ffmpeg\Kconfig
E:\OpenSiFli\sifli-sdk\external\freetype\Kconfig
E:\OpenSiFli\sifli-sdk\external\fsck\Kconfig
E:\OpenSiFli\sifli-sdk\external\jpeg_nano\Kconfig
E:\OpenSiFli\sifli-sdk\external\libhelix-mp3\Kconfig
E:\OpenSiFli\sifli-sdk\external\lvgl_v8\Kconfig
E:\OpenSiFli\sifli-sdk\external\lvgl_v8\Kconfig_v8
E:\OpenSiFli\sifli-sdk\external\lvgl_v9\Kconfig
E:\OpenSiFli\sifli-sdk\external\lz4\Kconfig
E:\OpenSiFli\sifli-sdk\external\mbedtls\Kconfig
E:\OpenSiFli\sifli-sdk\external\mbedtls_228\Kconfig
E:\OpenSiFli\sifli-sdk\external\nanopb\Kconfig
E:\OpenSiFli\sifli-sdk\external\opus-1.4\Kconfig
E:\OpenSiFli\sifli-sdk\external\quickjs\Kconfig
E:\OpenSiFli\sifli-sdk\external\rlottie\Kconfig
E:\OpenSiFli\sifli-sdk\external\rpmsg-lite\Kconfig
E:\OpenSiFli\sifli-sdk\external\sensor-lib\Kconfig
E:\OpenSiFli\sifli-sdk\external\state_machine-latest\Kconfig
E:\OpenSiFli\sifli-sdk\external\tinymp3\Kconfig
E:\OpenSiFli\sifli-sdk\external\vglite\Kconfig
E:\OpenSiFli\sifli-sdk\external\webclient\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\audio\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\Kconfig.hw
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.adv
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.iso
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.zbt
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\common\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\mesh\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
E:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\file_logger\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\lvgl\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\metrics_collector\Kconfig
E:\OpenSiFli\sifli-sdk\middleware\profiler\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\env\packages\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\iot\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\iot\netutils\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\samples\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\cplusplus\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\dfs\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\drivers\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\finsh\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\libc\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\at\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\lwip\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\netdev\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\sal\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\components\utilities\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\libcpu\Kconfig
E:\OpenSiFli\sifli-sdk\rtos\rtthread\src\Kconfig
