source "$SIFLI_SDK/Kconfig.v2"
source "$SIFLI_SDK/customer/boards/Kconfig.v2"
source "E:/OpenSiFli/sifli-sdk/customer/boards/sf32lb52-lchspi-ulp/lcpu/Kconfig.board"
source "E:/OpenSiFli/sifli-sdk/example/ble/lcpu_general/project/common/Kconfig.proj"